.DS_Store
HELP.md
target/
build/
../out/
.gradle/
.idea/*
!.idea/copyright
projectFilesBackup/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
*.iml

### VS Code ###
.vscode/
=======
*.iml
.gradle
gradle.deps
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
