.DS_Store
HELP.md
target/
build/
../out/
.gradle/
**/.idea/*
!**/.idea/copyright
projectFilesBackup/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iml

### VS Code ###
.vscode/
=======
*.iml
.gradle
gradle.deps
local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx

### Fastane ###
/fastlane/report.xml
codecov_reporter.sh
fastlane/README.md

### Jacoco ###
jacoco.exec
